body {
  background-image: url("Background _1st.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100vh;
}

.container {
    margin-top: 120px;
}

.btn {
    display: block;
    width: 220px;
    margin: 15px auto;
    padding: 15px;
    background: #1a73e8;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn.outline {
    background: white;
    color: #1a73e8;
    border: 2px solid #1a73e8;
}

.options {
    display: grid;
    gap: 15px;
    max-width: 300px;
    margin: auto;
}

.option {
    padding: 15px;
    background: white;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
}

.templates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

